.App{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    flex-direction: column;
    text-transform: capitalize;
}

.TitleSection{
  background-color: rgba(83, 83, 83, 0.6);
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.TitleSection input{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(71, 71, 71, 0.6);
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button{
  width: 180px;
  height: 60px;
  margin: 28px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  background-color: rgba(0, 192, 64, 0.6);
  border: none;
  box-shadow: rgba(0,0,0,0.25) 1px;
}

.TitleSection button:hover{
  cursor: pointer;
}

.DisplayPoke {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  background-color: #e9e9e9;
  padding-bottom: 10px;
  border-radius: 10px;
  width: 60%;
  margin-top: 10px;
}

.DisplayPoke h4, h3 {
  margin: 5px;
}

.DisplayPoke img {
  width: 300px;
}

.DisplayPoke span{
  border-radius: 15px;
  padding: 9px;
}

.fire{
  background-color: #F6AD7C;
}

.water{
  background-color:#9EB9F5 ;
}

.normal{
  background-color: #C8C6A7;
}

.grass{
  background-color: #A8DD90;
}

.fighting{
  background-color: #D67B76;
}

.flying{
  background-color: #C8B9F6;
}

.dark{
  background-color: #A49389;
}

.fairy{
  background-color: #F6BECC;
}

.dragon{
  background-color: #A27FF9;
}

.poison{
  background-color: #C384C2;
}

.psychic{
  background-color: #FA94B3;
}

.ghost{
  background-color: #A593BD;
}

.ice{
  background-color: #BCE7E6; 
}

.bug {
  background-color: #C7D06F;
}

.steel{
  background-color:#D2D2DF ;   
}

.rock{
  background-color :#D2C27D;
}

.ground{
  background-color: #EBD89F;
}

.electric{
  background-color: #F9E17B;
}
